In [1]:
%matplotlib inline
# %pylab

from __future__ import division

import pandas as pd
import numpy as np

from itertools import izip

import matplotlib
import matplotlib.pyplot as plt

matplotlib.use
plt.style.use('seaborn-poster')

In [34]:
MAINDIR = '/Users/benjaminlibman/Google Drive/Academics/CMU/Lab/Research/Unobserving/Data/'
RAW = MAINDIR + 'MedPC-Data/'
RF = MAINDIR + 'RF/Exp 3/'
RF2 = MAINDIR + 'RF2/'
SUMS = MAINDIR + 'Sums/'
SRVR = MAINDIR + 'Survivors/'

In [35]:
'''
event key:
100 - BO Left
110 - BO Right
120 - FR Left
130 - FR Right
200 - Pellet
300 - Start FR
400 - Start BO
410 - End BO
'''
# print(plt.style.available)

'\nevent key:\n100 - BO Left\n110 - BO Right\n120 - FR Left\n130 - FR Right\n200 - Pellet\n300 - Start FR\n400 - Start BO\n410 - End BO\n'

In [58]:
rats = ['BA1655', 'BA1656', 'BA1657', 'BA1658']

dset = pd.read_csv(RF + rats[1] + '.csv', sep=',', header=0)

In [67]:
dset[dset.frval == 0].head()

,date,subject,frval,runnum,trial,trial2,frpointer,frpointerB,borpointer,borpointer2,bolpointer,time,fr_irt,prp,fr_prp,uo_prp,event
0,12/11/17,BA1656,0,1,0,0,0,0,0,0,0,0.00,0.00,0.0,0.0,0.0,300
26,12/11/17,BA1656,0,1,0,0,-1,-1,0,0,0,21.57,0.00,0.0,0.0,0.0,200
27,12/11/17,BA1656,0,1,0,0,0,0,0,0,0,23.62,2.05,0.0,0.0,0.0,300
78,12/11/17,BA1656,0,1,0,0,-1,-1,0,0,0,60.75,0.00,0.0,0.0,0.0,200
79,12/11/17,BA1656,0,1,0,0,0,0,0,0,0,62.80,2.05,0.0,0.0,0.0,300

In [68]:
unstacked = dset.unstack()

In [69]:
us = pd.DataFrame(unstacked)
# us.to_csv(RF + 'BA1655TEST.csv')

In [179]:
mainData = {}
toi = []
fr = []
time = []
dates = []

for date, run in zip(set(dset.date), set(dset.runnum)):
    for ratio in sorted(set(dset.frval[dset.frval > 0])):
        thisRun = run
        data = dset[dset.runnum == thisRun]    
        
        to = []
        f = []
        t = []
        d = []
        
        for i, j, k in zip(data.time, data.frval, data.date):
            to.append(0)
            t.append(i)
            f.append(j)
            d.append(k)
        

        
        for i, (k, l) in zip(data.event, enumerate(to)):
            if i == 400:
                to[k] = 1

        toi.append(to)
        fr.append(f)
        time.append(t)
        dates.append(d)
        
        mainData[set(dates)] = [toi, fr, time]


        
# toi = pd.DataFrame(data=toi.values(), columns=toi.keys())

# fr = pd.DataFrame(fr)
# time = pd.DataFrame(tim)
# dates = pd.DataFrame(dates)
# print len(toi), len(fr), len(time), len(dates)
# surv = pd.Series(data=[toi, fr, time, dates])
# surv = pd.DataFrame(surv)
# surv.head()

TypeError: unhashable type: 'list'

In [173]:
np.shape(toi)

(1, 1)

                                                   0
0  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
1  [[0, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...
2  [[0.0, 4.62, 6.11, 6.33, 7.18, 7.79, 8.42, 9.6...