In [1]:
%matplotlib inline

In [11]:
import matplotlib.pyplot as plt
import seaborn as sb
import pandas as pd

In [7]:
fpath = '/Users/benjaminlibman/Google Drive/Academics/CMU/Lab/Research/Unobserving/Data/Sums/BA1657sums-E2.csv'
data = pd.read_csv(fpath, index_col=None)

In [8]:
data.head()

,fr,runnum,pellets,fr_irt,uor_irt,uol_irt,fr_resps,uo_resps,resps,r_SR,fr_rate,uo_total,prp,fr_prp,uo_prp,fr_total_Rate,sr_rate,iri
0,25.0,1.0,75.0,0.670,1.78,0.000,1875.0,5.0,1880.0,25.067,93.241,3.0,19.609,19.840,13.983,42.212,3.680,16.305
1,50.0,2.0,50.0,0.726,0.00,211.884,2500.0,11.0,2511.0,50.220,84.274,5.0,24.109,26.428,2.304,49.600,1.685,35.598
2,75.0,3.0,15.0,1.328,0.00,0.000,1126.0,2.0,1128.0,75.200,45.837,2.0,221.601,249.873,9.560,12.931,0.611,98.262
3,100.0,4.0,18.0,0.935,0.00,0.790,1809.0,8.0,1817.0,100.944,64.832,5.0,51.006,57.212,13.767,39.951,0.645,93.010
4,125.0,5.0,5.0,6.165,0.00,0.000,640.0,4.0,644.0,128.800,9.824,4.0,50.465,91.067,9.863,9.147,0.077,781.758

In [ ]:
g = sb.PairGrid(data)
g = g.map(plt.scatter)

In [19]:
g